.container
  .row
    .col-md-12
      %h3.page-title &nbsp;
.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Create Pickup
        .panel-body
          = render 'form'

